[CAMERA]
EXPOSURE_TIME = 3_000
GAIN = 16
MAIN_CAMERA_SN = "KE0210080592"
SECONDARY_CAMERA_SN = "KE0210080595"


[CAMERA.IMAGE_SIZE]
width = 1_280
height = 1_024
dt = "i"

[CAMERA.INTRINSICS_MM_6M]
rows = 3
cols = 3
dt = "d"
data = [
    1_286.838180107869,
    -2.461926292586412,
    658.8767459287915,
    0.0,
    1_290.09067608868,
    510.8206395831433,
    0.0,
    0.0,
    1.0,
]

[CAMERA.DISTORTION_COEFFICIENT_6M]
rows = 5
cols = 1
dt = "d"
data = [
    -0.073628369997559,
    0.136062655057692,
    -0.002316989237349,
    0.001806010870172,
    -0.021785489743266,
]

[CAMERA.INTRINSICS_MM]
rows = 3
cols = 3
dt = "d"
data = [
    2_552.120317695601,
    0.0,
    733.4956609932254,
    0.0,
    2_544.325975548529,
    574.3525159394347,
    0.0,
    0.0,
    1.0,
]

[CAMERA.DISTORTION_COEFFICIENT]
rows = 5
cols = 1
dt = "d"
data = [
    -0.198459759458205,
    0.141305356578572,
    -0.003282210829662,
    0.006377412356133,
    -0.369459660693497,
]

[CAMERA.SECONDARY_CAMERA_INTRINSICS_MM]
rows = 3
cols = 3
dt = "d"
data = [
    5_245.860394619444,
    0.0,
    474.3024333588917,
    0.0,
    5_238.360484800097,
    380.82788837129,
    0.0,
    0.0,
    1.0,
]

[CAMERA.SECONDARY_CAMERA_DISTORTION_COEFFICIENT]
rows = 5
cols = 1
dt = "d"
data = [
    0.046448090044085,
    -1.865187059750223,
    0.0006961495581667285,
    -0.020058298522193,
    25.152186864550373,
]

[RM]
SMALL_ARMOR_WIDTH = 0.135
SMALL_ARMOR_HEIGHT = 0.054
LARGE_ARMOR_WIDTH = 0.225
LARGE_ARMOR_HEIGHT = 0.054
ARMOR_PITCH_DEGREE = 15.0
POWER_RUNE_TOP_SIDE_LENGTH = 0.324
POWER_RUNE_BOTTOM_SIDE_LENGTH = 0.332
POWER_RUNE_TOP_SIDE_TO_CENTRE_DISTANCE = 0.056
POWER_RUNE_BOTTOM_SIDE_TO_CENTRE_DISTANCE = 0.044

[ROBOT]
YAW_TO_GEOGRAPHIC_X = 0.0
YAW_TO_GEOGRAPHIC_Y = 0.0
YAW_TO_GEOGRAPHIC_Z = 0.0
PITCH_TO_YAW_X = 0.024
PITCH_TO_YAW_Y = 0.0
PITCH_TO_YAW_Z = 0.0
CAMERA_TO_PITCH_X = 0.104
CAMERA_TO_PITCH_Y = 0.0615
CAMERA_TO_PITCH_Z = 0.026
CAMERA_TO_PITCH_INSTALL_PITCH_OFFSET_DEGREE = 9.5
CAMERA_TO_PITCH_INSTALL_YAW_OFFSET_DEGREE = 0.0
SECONDARY_CAMERA_TO_PITCH_X = 0.154
SECONDARY_CAMERA_TO_PITCH_Y = 0.0615
SECONDARY_CAMERA_TO_PITCH_Z = 0.056
SECONDARY_CAMERA_TO_PITCH_INSTALL_PITCH_OFFSET_DEGREE = 9.5
SECONDARY_CAMERA_TO_PITCH_INSTALL_YAW_OFFSET_DEGREE = 0.0
INVERT_CAMERA = true

[FP]
#识别器模式
#0:RV, 1:OLD_VISION, 2:PT4, 3:NEW_CLASSIC_VISION
mode = 3
TRICHOTOMY_MIN_OFFSET_DEGREE = -70.0
TRICHOTOMY_MAX_OFFSET_DEGREE = 70.0
TRICHOTOMY_TERMINATION_ACCURACY_DEGREE = 1.0
TRICHOTOMY_MAX_ITERATIONS = 30

[FP.RVD]
LIGHT_BINARY_THRESHOLD = 160
DNN_BINARY_THRESHOLD = 50
LIGHT_MIN_RATIO = 0.05
LIGHT_MAX_RATIO = 0.5
LIGHT_MAX_ANGLE = 30
ARMOR_MIN_LIGHT_RATIO = 0.6
SMALL_ARMOR_MIN_CENTRE_DISTANCE = 1.0
SMALL_ARMOR_MAX_CENTRE_DISTANCE = 3.2
LARGE_ARMOR_MIN_CENTRE_DISTANCE = 3.2
LARGE_ARMOR_MAX_CENTRE_DISTANCE = 5.5
ARMOR_MAX_ANGLE_DEGREE = 15.0
CLASSIFIER_CONFIDENCE_THRESHOLD = 0.5
CONTOUR_AREA_THRESHOLD = 6
MODULE_PATH = "../module/rv_dnn.onnx"
ENABLE_DEBUG_SHOW = true

[FP.PD]
CONFIDENCE_THRESHOLD = 0.7
NMS_THRESHOLD = 0.7
SCORE_THRESHOLD = 0.7
INPUT_WIDTH = 320
INPUT_HEIGHT = 320
ONNX_PATH = "../module/power_rune_0121.onnx"
TO_CENTRE_VEC_COEFFICIENT = 5.7
R_SYMBOL_DETECT_ROI_LENGTH = 260
GRAY_IMAGE_THRESHOLD_VALUE = 200
CONTOUR_AREA_THRESHOLD_MIN = 200
CONTOUR_AREA_THRESHOLD_MAX = 800
ENABLE_DEBUG_SHOW = false

[FP.PT4D]
CONFIDENCE_THRESHOLD = 0.6
NMS_THRESHOLD = 0.6
SCORE_THRESHOLD = 0.6
INPUT_WIDTH = 320
INPUT_HEIGHT = 320
YOLO_V5_ONNX_PATH = "../module/pt4_v5_0308.onnx"
YOLO_V8_ONNX_PATH = "../module/pt4_v8_0407.onnx"
YOLO_V8K_ONNX_PATH = "../module/pt4_v8k_0502_a1.onnx"
ENABLE_DEBUG_SHOW = false

[MT.IRVT]
MAX_ARMOR_DISTANCE = 7.0
MAX_MATCH_DISTANCE_DIFF = 0.8
MAX_MATCH_YAW_DIFF = 0.5
TRACKING_COUNT_THRESHOLD = 2
LOST_DURATION_THRESHOLD = 0.6
Q_XYZ_FACTOR = 3.0
Q_YAW = 15.0
Q_R = 25.0
R_THETA = 0.1
R_PHI = 0.1
R_DISTANCE_FACTOR = 0.8
R_YAW = 0.7
HERO_Q_XYZ_FACTOR = 7.0
HERO_Q_YAW = 25.0
HERO_Q_R = 6.0
HERO_R_THETA = 0.08
HERO_R_PHI = 0.08
HERO_R_DISTANCE_FACTOR = 0.5
HERO_R_YAW = 0.5

[MT.ST]
MAX_ARMOR_DISTANCE = 7.0
MAX_MATCH_DISTANCE_DIFF = 0.5
TRACKING_COUNT_THRESHOLD = 5
LOST_DURATION_THRESHOLD = 0.3
Q_XYZ_FACTOR = 1.0
R_THETA = 0.005
R_PHI = 0.005
R_DISTANCE_FACTOR = 0.075

[MT.PT.LPF]
Q_ROLL_FACTOR = 3.0
Q_FUNC_A = 0.01
Q_FUNC_OMEGA = 0.01
Q_FUNC_PHI = 0.01
Q_RADIUS = 0.001
Q_CENTRE_XYZ = 0.01
R_BULL_DISTANCE_FACTOR = 0.75
R_BULL_THETA = 0.05
R_BULL_PHI = 0.05
R_CENTRE_XYZ_FACTOR = 0.05
MAX_MATCH_ROLL_DEV_DEGREE = 50.0
LOST_DURATION_THRESHOLD = 0.3
TRACKING_COUNT_THRESHOLD = 5

[MT.PT.SPF]
Q_ROLL_FACTOR = 1.0
Q_RADIUS = 1.0
Q_CENTRE_XYZ = 10_000.0
R_BULL_DISTANCE_FACTOR = 100.0
R_BULL_THETA = 10.0
R_BULL_PHI = 10.0
R_CENTRE_DISTANCE_FACTOR = 100.0
R_CENTRE_THETA = 10.0
R_CENTRE_PHI = 10.0
MAX_MATCH_ROLL_DEV_DEGREE = 50.0
LOST_DURATION_THRESHOLD = 0.3
TRACKING_COUNT_THRESHOLD = 5
RADIUS_LIMIT_MIN_OFFSET = -0.1
RADIUS_LIMIT_MAX_OFFSET = 0.1
DIR_JUDGE_MIN_V_ROLL_DEGREE = 30.0
DIR_JUDGE_DEQUE_SIZE = 30
DIR_JUDGE_VALID_VALUE_COUNT_THRESHOLD = 20


[KS]
BULLET_TYPE = 0
BULLET_SPEED = 15.6
GIMBAL_YAW_MACHINE_TIME_MS = 130.0
GIMBAL_PITCH_MACHINE_TIME_MS = 50.0
ENABLE_SHOOT_MACHINE_TIME_MS = 230.0
DISABLE_SHOOT_MACHINE_TIME_MS = 230.0
GIMBAL_PITCH_OFFSET_DEGREE = 0.7
GIMBAL_YAW_OFFSET_DEGREE = -1.45

[KS.RV_ALGO]
ENABLE_CLOSE_MODE_DISTANCE_THRESHOLD = 1.0
DISABLE_CLOSE_MODE_DISTANCE_THRESHOLD = 1.2
ENABLE_ROTATE_MODE_V_YAW_THRESHOLD_DEGREE = 70.0
DISABLE_ROTATE_MODE_V_YAW_THRESHOLD_DEGREE = 50.0
ENABLE_SPEEDY_ROTATE_MODE_V_YAW_THRESHOLD_DEGREE = 70.0
DISABLE_SPEEDY_ROTATE_MODE_V_YAW_THRESHOLD_DEGREE = 50.0
