[CAMERA]
EXPOSURE_TIME = 6_000
GAIN = 16
AIN_CAMERA_SN = ""
SECONDARY_CAMERA_SN = ""
[CAMERA.IMAGE_SIZE]
width = 1_280
height = 1_024
dt = "i"

[CAMERA.INTRINSICS_MM]
rows = 3
cols = 3
dt = "d"
data = [
    1_284.84891939972,
    0.0,
    640.4324346624935,
    0.0,
    1_284.957638449922,
    503.7390043936826,
    0.0,
    0.0,
    1.0,
]

[CAMERA.DISTORTION_COEFFICIENT]
rows = 5
cols = 1
dt = "d"
data = [
    -0.08441692884957,
    0.188902780236119,
    -0.0009032862417946791,
    -0.00005614900739910125,
    -0.116804594040277,
]

[CAMERA.SECONDARY_CAMERA_INTRINSICS_MM]
rows = 3
cols = 3
dt = "d"
data = [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]

[CAMERA.SECONDARY_CAMERA_DISTORTION_COEFFICIENT]
rows = 5
cols = 1
dt = "d"
data = [0.0, 0.0, 0.0, 0.0, 0.0]

[RM]
SMALL_ARMOR_WIDTH = 0.135
SMALL_ARMOR_HEIGHT = 0.054
LARGE_ARMOR_WIDTH = 0.225
LARGE_ARMOR_HEIGHT = 0.054
ARMOR_PITCH_DEGREE = 15.0
POWER_RUNE_TOP_SIDE_LENGTH = 0.324
POWER_RUNE_BOTTOM_SIDE_LENGTH = 0.332
POWER_RUNE_TOP_SIDE_TO_CENTRE_DISTANCE = 0.056
POWER_RUNE_BOTTOM_SIDE_TO_CENTRE_DISTANCE = 0.044

[ROBOT]
YAW_TO_GEOGRAPHIC_X = 0.0
YAW_TO_GEOGRAPHIC_Y = 0.0
YAW_TO_GEOGRAPHIC_Z = 0.0
PITCH_TO_YAW_X = 0.0
PITCH_TO_YAW_Y = 0.0
PITCH_TO_YAW_Z = 0.0
CAMERA_TO_PITCH_X = 0.150674
CAMERA_TO_PITCH_Y = 0.0
CAMERA_TO_PITCH_Z = -0.0304
CAMERA_TO_PITCH_INSTALL_PITCH_OFFSET_DEGREE = 0.0
CAMERA_TO_PITCH_INSTALL_YAW_OFFSET_DEGREE = 0.0
SECONDARY_CAMERA_TO_PITCH_X = 0.104
SECONDARY_CAMERA_TO_PITCH_Y = 0.0615
SECONDARY_CAMERA_TO_PITCH_Z = 0.026
SECONDARY_CAMERA_TO_PITCH_INSTALL_PITCH_OFFSET_DEGREE = 9.5
SECONDARY_CAMERA_TO_PITCH_INSTALL_YAW_OFFSET_DEGREE = 0.0
INVERT_CAMERA = false

[FP]
TRICHOTOMY_MIN_OFFSET_DEGREE = -70.0
TRICHOTOMY_MAX_OFFSET_DEGREE = 70.0
TRICHOTOMY_TERMINATION_ACCURACY_DEGREE = 1.0
TRICHOTOMY_MAX_ITERATIONS = 30

[FP.RVD]
LIGHT_BINARY_THRESHOLD = 160
DNN_BINARY_THRESHOLD = 50
LIGHT_MIN_RATIO = 0.05
LIGHT_MAX_RATIO = 0.5
LIGHT_MAX_ANGLE = 30.0
ARMOR_MIN_LIGHT_RATIO = 0.6
SMALL_ARMOR_MIN_CENTRE_DISTANCE = 1.0
SMALL_ARMOR_MAX_CENTRE_DISTANCE = 3.2
LARGE_ARMOR_MIN_CENTRE_DISTANCE = 3.2
LARGE_ARMOR_MAX_CENTRE_DISTANCE = 5.5
ARMOR_MAX_ANGLE_DEGREE = 15.0
CLASSIFIER_CONFIDENCE_THRESHOLD = 0.5
CONTOUR_AREA_THRESHOLD = 6
MODULE_PATH = "../module/rv_dnn.onnx"
ENABLE_DEBUG_SHOW = true

[FP.PD]
CONFIDENCE_THRESHOLD = 0.7
NMS_THRESHOLD = 0.7
SCORE_THRESHOLD = 0.7
INPUT_WIDTH = 320
INPUT_HEIGHT = 320
ONNX_PATH = "../module/power_rune_0121.onnx"
TO_CENTRE_VEC_COEFFICIENT = 5.7
R_SYMBOL_DETECT_ROI_LENGTH = 260
GRAY_IMAGE_THRESHOLD_VALUE = 200
CONTOUR_AREA_THRESHOLD_MIN = 200
CONTOUR_AREA_THRESHOLD_MAX = 800
ENABLE_DEBUG_SHOW = 0

[FP.PT4D]
CONFIDENCE_THRESHOLD = 0.2
NMS_THRESHOLD = 0.2
SCORE_THRESHOLD = 0.2
INPUT_WIDTH = 320
INPUT_HEIGHT = 320
YOLO_V5_ONNX_PATH = "../module/pt4_v5_0308.onnx"
YOLO_V8_ONNX_PATH = "../module/pt4_v8_0309.onnx"
YOLO_V8K_ONNX_PATH = "../module/pt4_v8k_0425_a1.onnx"
ENABLE_DEBUG_SHOW = false

[MT.IRVT]
MAX_ARMOR_DISTANCE = 7.0
MAX_MATCH_DISTANCE_DIFF = 0.5
MAX_MATCH_YAW_DIFF = 0.5
TRACKING_COUNT_THRESHOLD = 5
LOST_DURATION_THRESHOLD = 0.3
Q_XYZ_FACTOR = 1.0
Q_YAW = 3.16
Q_R = 15.0
R_THETA = 0.0009
R_PHI = 0.0009
R_DISTANCE_FACTOR = 0.05
R_YAW = 0.05

[MT.ST]
MAX_ARMOR_DISTANCE = 7.0
MAX_MATCH_DISTANCE_DIFF = 0.5
TRACKING_COUNT_THRESHOLD = 5
LOST_DURATION_THRESHOLD = 0.3
Q_XYZ_FACTOR = 1.0
R_THETA = 0.005
R_PHI = 0.005
R_DISTANCE_FACTOR = 0.075

[MT.PT.SSPR]
Q_ROLL_FACTOR = 1.0
Q_CENTRE_XYZ = 1.0
R_ROLL = 1.0
R_CENTRE_DISTANCE = 1.0
R_CENTRE_THETA = 1.0
R_CENTRE_PHI = 1.0
MAX_MATCH_ROLL_DEV_DEGREE = 50.0
LOST_DURATION_THRESHOLD = 0.3
TRACKING_COUNT_THRESHOLD = 5
DIR_JUDGE_MIN_V_ROLL_DEGREE = 30.0
DIR_JUDGE_DEQUE_SIZE = 30
DIR_JUDGE_VALID_VALUE_COUNT_THRESHOLD = 20

[MT.PT.SLPR]
Q_ROLL = 1.0
Q_V_ROLL = 1.0
Q_FUNC_A = 1.0
Q_FUNC_OMEGA = 1.0
Q_FUNC_PHI = 1.0
Q_CENTRE_XYZ = 1.0
R_ROLL = 1.0
R_CENTRE_DISTANCE = 1.0
R_CENTRE_THETA = 1.0
R_CENTRE_PHI = 1.0
MAX_MATCH_ROLL_DEV_DEGREE = 50.0
LOST_DURATION_THRESHOLD = 0.3
TRACKING_COUNT_THRESHOLD = 5
DIR_JUDGE_MIN_V_ROLL_DEGREE = 30.0
DIR_JUDGE_DEQUE_SIZE = 30
DIR_JUDGE_VALID_VALUE_COUNT_THRESHOLD = 20

[KS]
BULLET_TYPE = 1
BULLET_SPEED = 16.0
GIMBAL_YAW_MACHINE_TIME_MS = 60.0
GIMBAL_PITCH_MACHINE_TIME_MS = 50.0
ENABLE_SHOOT_MACHINE_TIME_MS = 80.0
DISABLE_SHOOT_MACHINE_TIME_MS = 30.0
GIMBAL_PITCH_OFFSET_DEGREE = -0.7
GIMBAL_YAW_OFFSET_DEGREE = 1.35

[KS.RV_ALGO]
ENABLE_CLOSE_MODE_DISTANCE_THRESHOLD = 1.0
DISABLE_CLOSE_MODE_DISTANCE_THRESHOLD = 1.2
ENABLE_ROTATE_MODE_V_YAW_THRESHOLD_DEGREE = 90.0
DISABLE_ROTATE_MODE_V_YAW_THRESHOLD_DEGREE = 60.0
ENABLE_SPEEDY_ROTATE_MODE_V_YAW_THRESHOLD_DEGREE = 180.0
DISABLE_SPEEDY_ROTATE_MODE_V_YAW_THRESHOLD_DEGREE = 120.0
