[CAMERA]
EXPOSURE_TIME = 1200
GAIN = 24
MAIN_CAMERA_SN = ""
SECONDARY_CAMERA_SN = ""

[CAMERA.IMAGE_SIZE]
width = 2048
height = 1536
dt = "i"

[CAMERA.INTRINSICS_MM]
rows = 3
cols = 3
dt = "d"
data = [
    1784.62007672495,
    0.0,
    1023.08746281693,
    0.0,
    1783.54471742765,
    769.869074534725, 
    0.0,
    0.0,
    1.0,
]

[CAMERA.DISTORTION_COEFFICIENT]
rows = 5
cols = 1
dt = "d"
data = [
    -0.0801637898397393,
    0.171901876678746,
    -0.000381681465273150,
    -0.0000381994854317228,
    -0.0913760299388167,
]

[CAMERA.SECONDARY_CAMERA_INTRINSICS_MM]
rows = 3
cols = 3
dt = "d"
data = [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]

[CAMERA.SECONDARY_CAMERA_DISTORTION_COEFFICIENT]
rows = 5
cols = 1
dt = "d"
data = [0.0, 0.0, 0.0, 0.0, 0.0]

[RM]
SMALL_ARMOR_WIDTH = 0.133
SMALL_ARMOR_HEIGHT = 0.050
LARGE_ARMOR_WIDTH = 0.225
LARGE_ARMOR_HEIGHT = 0.05
ARMOR_PITCH_DEGREE = 15.0
POWER_RUNE_AIM_RADIUS = 0.15
POWER_RUNE_TOP_SIDE_LENGTH = 0.324
POWER_RUNE_BOTTOM_SIDE_LENGTH = 0.332
POWER_RUNE_TOP_SIDE_TO_CENTRE_DISTANCE = 0.056
POWER_RUNE_BOTTOM_SIDE_TO_CENTRE_DISTANCE = 0.044

[ROBOT]
ADVANCED_TRANSFORM = false
YAW_TO_GEOGRAPHIC_X = 0.0
YAW_TO_GEOGRAPHIC_Y = 0.0
YAW_TO_GEOGRAPHIC_Z = 0.0
PITCH_TO_YAW_X = 0.0
PITCH_TO_YAW_Y = 0.0
PITCH_TO_YAW_Z = 0.0
CAMERA_TO_PITCH_X = 0.168
CAMERA_TO_PITCH_Y = -0.047
CAMERA_TO_PITCH_Z = 0.037
CAMERA_TO_PITCH_INSTALL_PITCH_OFFSET_DEGREE = 3.5
CAMERA_TO_PITCH_INSTALL_YAW_OFFSET_DEGREE = 0.0
SECONDARY_CAMERA_TO_PITCH_X = 0.104
SECONDARY_CAMERA_TO_PITCH_Y = 0.0615
SECONDARY_CAMERA_TO_PITCH_Z = 0.026
SECONDARY_CAMERA_TO_PITCH_INSTALL_PITCH_OFFSET_DEGREE = 9.5
SECONDARY_CAMERA_TO_PITCH_INSTALL_YAW_OFFSET_DEGREE = 0.0
INVERT_CAMERA = true

[FP]
#识别器模式
#0:RV, 1:OLD_VISION, 2:PT4, 3:NEW_CLASSIC_VISION
mode = 3
TRICHOTOMY_LEFT_OFFSET_DEGREE = 70.0
TRICHOTOMY_RIGHT_OFFSET_DEGREE = -70.0
TRICHOTOMY_TERMINATION_ACCURACY_DEGREE = 1.0
TRICHOTOMY_MAX_ITERATIONS = 30

[FP.RVD]
LIGHT_BINARY_THRESHOLD = 100
DNN_BINARY_THRESHOLD = 50
LIGHT_MIN_RATIO = 0.05
LIGHT_MAX_RATIO = 0.5
LIGHT_MAX_ANGLE = 30.0
ARMOR_MIN_LIGHT_RATIO = 0.6
SMALL_ARMOR_MIN_CENTRE_DISTANCE = 1.0
SMALL_ARMOR_MAX_CENTRE_DISTANCE = 3.2
LARGE_ARMOR_MIN_CENTRE_DISTANCE = 3.2
LARGE_ARMOR_MAX_CENTRE_DISTANCE = 5.5
ARMOR_MAX_ANGLE_DEGREE = 15.0
CLASSIFIER_CONFIDENCE_THRESHOLD = 0.5
CONTOUR_AREA_THRESHOLD = 6
MODULE_PATH = "/root/master/program/RM2025-autoaim/module/rv_dnn.onnx"
ENABLE_DEBUG_SHOW = false

[FP.PD]
CONFIDENCE_THRESHOLD = 0.7
NMS_THRESHOLD = 0.7
SCORE_THRESHOLD = 0.7
INPUT_WIDTH = 320
INPUT_HEIGHT = 320
ONNX_PATH = "/root/master/program/RM2025-autoaim/module/power_rune_0121_t.onnx"
TO_CENTRE_VEC_COEFFICIENT = 2.4
R_SYMBOL_DETECT_ROI_HALF_LENGTH = 100
GRAY_IMAGE_THRESHOLD_VALUE = 150
CONTOUR_AREA_THRESHOLD_MIN = 100
CONTOUR_AREA_THRESHOLD_MAX = 2000
ENABLE_DEBUG_SHOW = false

[FP.PT4D]
CONFIDENCE_THRESHOLD = 0.6
NMS_THRESHOLD = 0.6
SCORE_THRESHOLD = 0.6
INPUT_WIDTH = 320
INPUT_HEIGHT = 320
YOLO_V5_ONNX_PATH = "/root/master/program/RM2025-autoaim/module/pt4_v5_0308.onnx"
YOLO_V8_ONNX_PATH = "/root/master/program/RM2025-autoaim/module/pt4_v8_0330_a3.onnx"
YOLO_V8K_ONNX_PATH = "/root/master/program/RM2025-autoaim/module/pt4_v8k_0502_a1.onnx"
ENABLE_DEBUG_SHOW = false


# 灯条处理相关
[ncd]
# 输入图像缩放比
# 损失部分信息来用于平衡大画幅相机的耗时失控问题
# 对于  2048*1436   像素的相机，建议值为    0.625
# 对于  1280*1024   像素的相机，建议值为        1
input_scale = 1.0

# 调试相关
[ncd.debug]
# 调试总开关
enable = false
# 亮度直方图
bright_hist_image = false
# 二值化图像
binary_image = true
# 图案分类器原始图案图像 + 预处理图像 + 分类结果
classifier_image = false
# 识别器结果图像
result_image = true
# 分类器结果日志
classifier_result_log = false
# 尺寸修正器日志
size_corrector_log = false
time_log = true
# 保存图案分类器数据集
save_classifier_dataset = false

# 灯条处理相关
[ncd.light]
# 二值化阈值
binary_thresh = 165
# 最小灯条宽高比(宽/高)
min_ratio = 0.01
# 最大灯条宽高比例
max_ratio = 0.8
# 最大灯条角度
max_angle = 40.0
# 红蓝通道数值差阈值
color_diff_thresh = 64
min_pixel_to_edge = 5

# 装甲板处理相关
[ncd.armor]
min_light_ratio = 0.6
# 灯条距离比：装甲板两灯条中心距离/平均长度
# 小装甲板最小灯条距离比
min_small_center_distance = 0.8
# 大小装甲板灯条距离比阈值
small_large_center_threshold = 3.6 # 3.2
# 大装甲板最大灯条距离比
max_large_center_distance = 6.4
# 最大装甲板角度
max_angle = 35.0

# 图案处理相关
[ncd.classifier]
# 图案图像高斯模糊内核大小
# 解决画面噪点对二值化的影响
blur_kernel_size = 3
# 动态二值化内核大小
# 计算相邻 n*n 范围的像素的平均值，若该像素的值大于范围均值，则置为255，否则置为0
# 该值越大，则在范围内等效于定值阈值越大
# 若该值为0，则使用大津法自适应阈值。 
adaptive_binary_kernel_size = 5
# 模型路径
# 相对于fp/lib/fp目录
model_path = "/root/master/program/RM2025-autoaim/module/ncd/lenet.onnx"
# 标签路径
# 相对于build目录
label_path = "/root/master/program/RM2025-autoaim/module/ncd/label.txt"
# 模型置信度阈值
confidence_threshold = 0.5
# 识别器输出忽略的装甲板标签
ignore_class = ["negative"]
# 装甲板尺寸修正器
enable_size_corrector = true
# 使用双边滤波器
use_bilateral_filter = true


[MT.IRVT]
MAX_ARMOR_DISTANCE = 7.0
MAX_MATCH_DISTANCE_DIFF = 0.5
MAX_MATCH_YAW_DIFF = 0.5
TRACKING_COUNT_THRESHOLD = 1
LOST_DURATION_THRESHOLD = 0.3
Q_XYZ_FACTOR = 5.0
Q_YAW = 20.0
Q_R = 3.0
R_THETA = 0.08
R_PHI = 0.08
R_DISTANCE_FACTOR = 2.0
R_YAW = 0.3
HERO_Q_XYZ_FACTOR = 6.0
HERO_Q_YAW = 15.0
HERO_Q_R = 3.0
HERO_R_THETA = 0.02
HERO_R_PHI = 0.02
HERO_R_DISTANCE_FACTOR = 0.5
HERO_R_YAW = 0.3

[MT.ST]
MAX_ARMOR_DISTANCE = 7.0
MAX_MATCH_DISTANCE_DIFF = 0.5
TRACKING_COUNT_THRESHOLD = 5
LOST_DURATION_THRESHOLD = 0.3
Q_XYZ_FACTOR = 1.0
R_THETA = 0.01
R_PHI = 0.01
R_DISTANCE_FACTOR = 0.075

[MT.PT.SSPR]
Q_ROLL_FACTOR = 1.0
Q_CENTRE_XYZ = 1.0
R_ROLL = 1.0
R_CENTRE_DISTANCE = 1.0
R_CENTRE_THETA = 1.0
R_CENTRE_PHI = 1.0
MAX_MATCH_ROLL_DEV_DEGREE = 50.0
LOST_DURATION_THRESHOLD = 0.3
TRACKING_COUNT_THRESHOLD = 5
DIR_JUDGE_MIN_V_ROLL_DEGREE = 30.0
DIR_JUDGE_DEQUE_SIZE = 30
DIR_JUDGE_VALID_VALUE_COUNT_THRESHOLD = 8

[MT.PT.SLPR]
Q_ROLL = 0.001
Q_V_ROLL = 0.001
Q_FUNC_A = 0.4
Q_FUNC_OMEGA = 0.4
Q_FUNC_PHI = 3.0
Q_CENTRE_XYZ = 0.01
R_ROLL = 30.0
R_CENTRE_DISTANCE = 0.1
R_CENTRE_THETA = 0.05
R_CENTRE_PHI = 0.05
MAX_MATCH_ROLL_DEV_DEGREE = 50.0
LOST_DURATION_THRESHOLD = 0.3
TRACKING_COUNT_THRESHOLD = 5
DIR_JUDGE_MIN_V_ROLL_DEGREE = 30.0
DIR_JUDGE_DEQUE_SIZE = 30
DIR_JUDGE_VALID_VALUE_COUNT_THRESHOLD = 8

[KS]
BULLET_TYPE = 1
BULLET_SPEED = 24.0
GIMBAL_YAW_MACHINE_TIME_MS = 76.0
GIMBAL_PITCH_MACHINE_TIME_MS = 130.0
ENABLE_SHOOT_MACHINE_TIME_MS = 125.0
DISABLE_SHOOT_MACHINE_TIME_MS = 125.0
GIMBAL_PITCH_OFFSET_DEGREE = 1.5
GIMBAL_YAW_OFFSET_DEGREE = 1.5

[KS.RV_ALGO]
ENABLE_CLOSE_MODE_DISTANCE_THRESHOLD = 1.0
DISABLE_CLOSE_MODE_DISTANCE_THRESHOLD = 1.2
ENABLE_ROTATE_MODE_V_YAW_THRESHOLD_DEGREE = 80.0
DISABLE_ROTATE_MODE_V_YAW_THRESHOLD_DEGREE = 60.0
ENABLE_SPEEDY_ROTATE_MODE_V_YAW_THRESHOLD_DEGREE = 700.0
DISABLE_SPEEDY_ROTATE_MODE_V_YAW_THRESHOLD_DEGREE = 600.0

SMALL_4_ARMOR_SPEEDY_ROTATE_ENABLE_SHOOT_RELATIVE_ANGLE_DEGREE = 18.0
SMALL_4_ARMOR_ROTATE_ENABLE_SHOOT_RELATIVE_ANGLE_DEGREE = 23.0
LARGE_4_ARMOR_SPEEDY_ROTATE_ENABLE_SHOOT_RELATIVE_ANGLE_DEGREE = 28.0
LARGE_4_ARMOR_ROTATE_ENABLE_SHOOT_RELATIVE_ANGLE_DEGREE = 40.0
SMALL_3_ARMOR_SPEEDY_ROTATE_ENABLE_SHOOT_RELATIVE_ANGLE_DEGREE = 18.0
SMALL_3_ARMOR_ROTATE_ENABLE_SHOOT_RELATIVE_ANGLE_DEGREE = 30.0
LARGE_2_ARMOR_SPEEDY_ROTATE_ENABLE_SHOOT_RELATIVE_ANGLE_DEGREE = 28.0
LARGE_2_ARMOR_ROTATE_ENABLE_SHOOT_RELATIVE_ANGLE_DEGREE = 60.0

ENABLE_SHOOT_RELATIVE_ANGLE_ASYMMETRY_COEFFICIENT = 0.0

SWITCH_OFFSET_ANGLE_DEGREE = 30.0

NORMALIZED_OUTPOST_ANGULAR_VELOCITY = false

[DETECT]
DEBUG = true
CV_THREAD_NUMS = 8

[ESTIMATE]
TIME_STAMP_OFFSET_IN_SECOND = 0.002
